---
const today = new Date();
---

<footer class="footer container mt-8">
  <aside>
    <div class="avatar">
      <div class="w-24 rounded-full">
        <img src="src/assets/img/giveback-avatar.png" />
      </div>
    </div>
    <p>
      Amazing ways to give back to the places you visit
    </p>
  </aside>
  <nav>
    <h6 class="footer-title">Services</h6>
    <a class="link link-hover">Branding</a>
    <a class="link link-hover">Design</a>
    <a class="link link-hover">Marketing</a>
    <a class="link link-hover">Advertisement</a>
  </nav>
  <nav>
    <h6 class="footer-title">Company</h6>
    <a class="link link-hover">About us</a>
    <a class="link link-hover">Contact</a>
    <a class="link link-hover">Jobs</a>
    <a class="link link-hover">Press kit</a>
  </nav>
  <nav>
    <h6 class="footer-title">Legal</h6>
    <a class="link link-hover">Terms of use</a>
    <a class="link link-hover">Privacy policy</a>
    <a class="link link-hover">Cookie policy</a>
  </nav>
</footer>

<footer class='container mt-8'>

	<div class='py-4 border-t dark:border-t-zinc-700'>
    <div class="md:flex text-sm text-zinc-500 dark:text-zinc-300 prose dark:prose-invert justify-between">
      <div>Copyright © {today.getFullYear()} Giveback. All Rights Reserved.</div>
      <div>Terms | Privacy Policy</div>      
    </div>
	</div>
</footer>
